*{
    font-family: "Montserrat";
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('background.jpg');
}

html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 500;
    color: #313133;
    background: #ffe4e4;
    border: none;
    border-radius: 1000px;
    box-shadow: 4px 5px 0px #818a88;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px 20px;
    }
  
  /*button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(500px + 12px);
    min-height: calc(100px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }*/
  
  /*.location:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }*/
  
 /* button:hover::before, button:focus::before {
    opacity: 1;
  }*/
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .swal-text{
      font-size: 16px;
      font-family:'Montserrat';
  }

  .swal-title{
      font-family: 'Montserrat'!important;
      font-weight:900;
  }